<nav class="navbar">
    <div class="navbar-toggle" id="js-navbar-toggle"><i class="fas fa-bars"></i></div>
    <a href="/" class="logo">In a Previous Life</a>
    <ul class="main-nav" id="js-menu" role="list">
        <li>
            <a href="/" class="nav-links">Home</a>
        </li>
        <li>
            <a href="/about" class="nav-links">About</a>
        </li>
        <li>
            <a href="/media" class="nav-links">Media</a>
        </li>
        <li>
            <a href="/merchandise" class="nav-links">Merchandise</a>
        </li>
        <li>
            <a href="/contact" class="nav-links">Contact Us</a>
        </li>
    </ul>
    <ul class="social" role="list">
        <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-tiktok"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-spotify"></i></a>
        </li>
    </ul>
    <div class="divider"></div>
</nav>