{% macro postPreview(params) %}
  <article class="preview">
    <div class="preview-image">
      <img src="{{params.image}}" alt="thumbnail">
    </div>
    <h4 class="card-text">{{ params.postTitle }}</h4>
  </article>
{% endmacro %}