@use "../abstracts/mixins" as m;

.preview {
  border-radius: 3px;
  overflow: hidden;
  @include m.get-color("secondary");

  .preview-image {
    position: relative;
  }

  .preview-image::after {
    display: block;
    content: "";
    @include m.aspect-ratio(16, 9);
  }

  .preview-image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h4 {
    padding: 30px;
  }
}
