---
title: Home
layout: 'base.njk'
---
{% from "post-preview.njk" import postPreview %}
<h1>HOME</h1>
<ul class="home-main-content" role="list">
  {% for post in collections.post | reverse | limit(3) %}
    <li {{ 'class=featured' if loop.index == 1 }}>
      {{ postPreview({
        image: post.data.image,
        postTitle: post.data.title
      }) }}
    </li>
  {% endfor %}
</ul>