---
title: Home
layout: 'base.njk'
---

<h1>HOME</h1>
<a href="/section1">Section 1</a><a href="/section2">Section 2</a>
<ul>
  {% for post in collections.post | reverse %}
    <li>
      <article>
        <img height="200" width="200" src="{{post.data.image}}" alt="thumbnail">
        <h4>{{ post.data.title }}</h4>
        <a href="{{ post.url }}">Read this</a>
      </article>
    </li>
  {% endfor %}
</ul>